@page
@model myWebApp7475.Pages.ContactModel
@{
    ViewData["Title"] = "Contact";
}

    <br />
    <br />
<h1>Contact</h1>
<br />
<h3>
    “Would you like me to give you a formula for success? It’s quite simple, really: Double your rate of failure. You are thinking of failure as the enemy of success. But it isn’t at all.     You can be discouraged by failure or you can learn from it, so go ahead and make mistakes. Make all you can. Because remember that’s where you will find success.”
    -Thomas J. Watson
</h3>
<br />
<br />
<address>
    My Test Website<br />
    Somewhere on Universe<br />
    <abbr title="Phone">P:</abbr>
    Inter Universe Dialin
</address>
<br />
<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
