@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
    <br />
    <br />
<h1>@ViewData["Title"]</h1>


<body lang=EN-IN>
    <br />
    <br />
    <div class=WordSection1>

        <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
text-align:center;line-height:normal;background:#FEFEFE;vertical-align:baseline'>
            <b>
                <span style='font-size:11.5pt;font-family:"Times New Roman",serif;color:#333333'>
                    Privacy
                    Notice
                </span>
            </b>
        </p>

        <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
text-align:center;line-height:normal;background:#FEFEFE;vertical-align:baseline'>
            <b>
                <span style='font-size:11.5pt;font-family:"Times New Roman",serif;color:#333333'>
                    (Under
                    Construction)
                </span>
            </b>
        </p>

        <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
text-align:center;line-height:normal;background:#FEFEFE;vertical-align:baseline'>
            <b>
                <span style='font-size:11.5pt;font-family:"Times New Roman",serif;color:#333333'>(Draft)</span>
            </b>
        </p>

        <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
text-align:center;line-height:normal;background:#FEFEFE;vertical-align:baseline'>
            <span style='font-size:11.5pt;font-family:"Times New Roman",serif;color:#333333'>&nbsp;</span>
        </p>

        <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
normal;background:#FEFEFE'>
            <span style='font-size:11.5pt;font-family:"Times New Roman",serif;
color:#333333'>
                This privacy notice discloses the privacy practices for&nbsp;<u>(*.PrasadEdu.com)</u>.
                This privacy notice applies solely to information collected by this website. It
                will notify you of the following:
            </span>
        </p>

        <p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
margin-left:30.0pt;margin-bottom:.0001pt;text-indent:-18.0pt;line-height:normal;
background:#FEFEFE;vertical-align:baseline'>
            <span style='font-size:11.5pt;
font-family:"Times New Roman",serif;color:#333333'>
                1.<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span><span style='font-size:11.5pt;font-family:"Times New Roman",serif;
color:#333333'>
                What personally identifiable information is collected from you
                through the website, how it is used and with whom it may be shared.
            </span>
        </p>

        <p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
margin-left:30.0pt;margin-bottom:.0001pt;text-indent:-18.0pt;line-height:normal;
background:#FEFEFE;vertical-align:baseline'>
            <span style='font-size:11.5pt;
font-family:"Times New Roman",serif;color:#333333'>
                2.<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span><span style='font-size:11.5pt;font-family:"Times New Roman",serif;
color:#333333'>
                What choices are available to you regarding the use of your
                data.
            </span>
        </p>

        <p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
margin-left:30.0pt;margin-bottom:.0001pt;text-indent:-18.0pt;line-height:normal;
background:#FEFEFE;vertical-align:baseline'>
            <span style='font-size:11.5pt;
font-family:"Times New Roman",serif;color:#333333'>
                3.<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span><span style='font-size:11.5pt;font-family:"Times New Roman",serif;
color:#333333'>The security procedures in place to protect the misuse of your information.</span>
        </p>

        <p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
margin-left:30.0pt;margin-bottom:.0001pt;text-indent:-18.0pt;line-height:normal;
background:#FEFEFE;vertical-align:baseline'>
            <span style='font-size:11.5pt;
font-family:"Times New Roman",serif;color:#333333'>
                4.<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span><span style='font-size:11.5pt;font-family:"Times New Roman",serif;
color:#333333'>How you can correct any inaccuracies in the information.</span>
        </p>

        <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
normal;background:#FEFEFE'>
            <b>
                <span style='font-size:11.5pt;font-family:"Times New Roman",serif;
color:#333333'>Information Collection, Use, and Sharing</span>
            </b><span style='font-size:11.5pt;font-family:"Times New Roman",serif;color:#333333'>
                &nbsp;<br>
                We are the sole owners of the information collected on this site. We only have
                access to/collect information that you voluntarily give us via email or other
                direct contact from you. We will not sell or rent this information to anyone.
            </span>
        </p>

        <p class=MsoNormal style='margin-bottom:7.15pt;line-height:normal;background:
#FEFEFE'>
            <span style='font-size:11.5pt;font-family:"Times New Roman",serif;
color:#333333'>
                We will use your information to respond to you, regarding the
                reason you contacted us. We will not share your information with any third
                party outside of our organization, other than as necessary to fulfil your
                request, e.g. to ship an order.
            </span>
        </p>

        <p class=MsoNormal style='margin-bottom:7.15pt;line-height:normal;background:
#FEFEFE'>
            <span style='font-size:11.5pt;font-family:"Times New Roman",serif;
color:#333333'>
                Unless you ask us not to, we may contact you via email in the
                future to tell you about specials, new products or services, or changes to this
                privacy policy.
            </span>
        </p>

        <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
normal;background:#FEFEFE'>
            <b>
                <span style='font-size:11.5pt;font-family:"Times New Roman",serif;
color:#333333'>Your Access to and Control Over Information</span>
            </b><span style='font-size:11.5pt;font-family:"Times New Roman",serif;color:#333333'>
                &nbsp;<br>
                You may opt out of any future contacts from us at any time. You can do the
                following at any time by contacting us via the email address or phone number
                given on our website:
            </span>
        </p>

        <p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
margin-left:52.5pt;margin-bottom:.0001pt;text-indent:-18.0pt;line-height:normal;
background:#FEFEFE;vertical-align:baseline'>
            <span style='font-size:10.0pt;
font-family:Symbol;color:#333333'>
                ·<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span><span style='font-size:11.5pt;font-family:"Times New Roman",serif;
color:#333333'>See what data we have about you, if any.</span>
        </p>

        <p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
margin-left:52.5pt;margin-bottom:.0001pt;text-indent:-18.0pt;line-height:normal;
background:#FEFEFE;vertical-align:baseline'>
            <span style='font-size:10.0pt;
font-family:Symbol;color:#333333'>
                ·<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span><span style='font-size:11.5pt;font-family:"Times New Roman",serif;
color:#333333'>Change/correct any data we have about you.</span>
        </p>

        <p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
margin-left:52.5pt;margin-bottom:.0001pt;text-indent:-18.0pt;line-height:normal;
background:#FEFEFE;vertical-align:baseline'>
            <span style='font-size:10.0pt;
font-family:Symbol;color:#333333'>
                ·<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span><span style='font-size:11.5pt;font-family:"Times New Roman",serif;
color:#333333'>Have us delete any data we have about you.</span>
        </p>

        <p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
margin-left:52.5pt;margin-bottom:.0001pt;text-indent:-18.0pt;line-height:normal;
background:#FEFEFE;vertical-align:baseline'>
            <span style='font-size:10.0pt;
font-family:Symbol;color:#333333'>
                ·<span style='font:7.0pt "Times New Roman"'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span><span style='font-size:11.5pt;font-family:"Times New Roman",serif;
color:#333333'>Express any concern you have about our use of your data.</span>
        </p>

        <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
normal;background:#FEFEFE'>
            <b>
                <span style='font-size:11.5pt;font-family:"Times New Roman",serif;
color:#333333'>Security</span>
            </b><span style='font-size:11.5pt;font-family:
"Times New Roman",serif;color:#333333'>
                &nbsp;<br>
                We take precautions to protect your information. When you submit sensitive
                information via the website, your information is protected both online and
                offline.
            </span>
        </p>

        <p class=MsoNormal style='margin-bottom:7.15pt;line-height:normal;background:
#FEFEFE'>
            <span style='font-size:11.5pt;font-family:"Times New Roman",serif;
color:#333333'>
                Wherever we collect sensitive information (such as credit card
                data), that information is encrypted and transmitted to us in a secure way. You
                can verify this by looking for a lock icon in the address bar and looking for
                &quot;https&quot; at the beginning of the address of the Web page.
            </span>
        </p>

        <p class=MsoNormal style='margin-bottom:7.15pt;line-height:normal;background:
#FEFEFE'>
            <span style='font-size:11.5pt;font-family:"Times New Roman",serif;
color:#333333'>
                While we use encryption to protect sensitive information
                transmitted online, we also protect your information offline. Only employees
                who need the information to perform a specific job (for example, billing or
                customer service) are granted access to personally identifiable information.
                The computers/servers in which we store personally identifiable information are
                kept in a secure environment.
            </span>
        </p>

        <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
normal;background:#FEFEFE'>
            <b>
                <span style='font-size:11.5pt;font-family:"Times New Roman",serif;
color:#333333'>
                    If you feel that we are not abiding by this privacy policy, you
                    should contact us immediately via telephone at&nbsp;<u>XXX YYY-ZZZZ</u>&nbsp;or&nbsp;<u>
                        via
                        email
                    </u>.
                </span>
            </b>
        </p>

        <p class=MsoNormal><span style='font-family:"Times New Roman",serif'>&nbsp;</span></p>

    </div>

</body>



