@page
@{
    ViewData["Title"] = "Open Api Page";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

    <br />
    <br />

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Source+Code+Pro:300,600|Titillium+Web:400,600,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./swagger-ui.css">
    <link rel="stylesheet" type="text/css" href="custom.css">

    <h1>@ViewData["Title"]</h1>


<br />
<body>
    <nav class="navbar  navbar-light bg-light">
        <a class="btn btn-primary btn-lg " href="/swagger/index.html#/People" role="button">People</a>
        <a class="btn btn-primary btn-lg btn-space" href="/swagger/index.html#/Addresses" role="button">Addresses</a>
        <a class="btn btn-primary btn-lg btn-space" href="/swagger/index.html#/Employees" role="button">Employees</a>
        <a class="btn btn-primary btn-lg btn-space" href="/swagger/index.html#/Products" role="button">Products</a>
        <a class="btn btn-primary btn-lg btn-space" href="/swagger/index.html#/ToDoItems" role="button">ToDo Items</a>
        <a class="btn btn-primary btn-lg btn-space" href="/swagger/index.html#/Products" role="button">Products</a>
        <a class="btn btn-primary btn-lg btn-space" href="/swagger" role="button">Swagger Page</a>
        <a class="btn btn-primary btn-lg btn-space" href="/swagger/v1/swagger.json" role="button">Swagger JSON</a>
    </nav>


</body>






